body {
    font-family: Arial, sans-serif;
    background-color:rgb(148, 113, 113);
    margin: 0;
    padding: 0;
    text-align: center;
}
h1 {
    background-color: rgb(165, 118, 118);
}
.botao {
    background-color: rgb(153, 153, 23);
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
}